# Ignore Python virtual environment
venv/

# Ignore Python cache files
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db
/.idea

# Ignore sensitive keys
/config/key.key
/config/config.encrypted
/private

# Ignore setup file
firstTimeSetup.txt